body {
    font-family: 'Raleway', sans-serif;
}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 0;
    border: none;
    margin-bottom: 0;
  }
  .navbar-brand a{
      color: grey;
  }
.navbar-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
    list-style: none;
  }
  .about {
    background-color: rgb(18, 18, 71);
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .about h1 {
    /* padding: 2%; */
    margin-top: 0;
    text-align: center;
  }
  .about p {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  .projects h1 {
    text-align: center;
  }
  .projects img {
    float: none;
    margin: auto;
  }
  .well {
      background: transparent;
      border: none;
  }
  .well-heading {
      height: 200px;
      margin: auto;
  }
  .leaf {
    max-width: 250px;
  }
  .camera {
    max-width: 250px;
  }

  .contact {
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    height: 400px;
  }
  .contact-container {
    padding-top: 5%;
  }
  .contact h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
  }
  .contact #email {
      text-align: center;
      color: beige;
  }
  .contact #title {
      width: 20%;
  }
  .contact #account-link {
      color: beige;
  }
  .contact #account-link:hover {
      color: white;
  }